version: '3.8'

services:
  app:
    build: .
    container_name: tornado_app
    ports:
      - "8888:8888"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=Pr0ducc10n35F45t2050
      - DB_NAME=transmision_tornado
      - COOKIE_SECRET=vErY-sEcReT-kEy-fOr-tOrNaDo
    depends_on:
      - db
    restart: always

  db:
    image: mariadb:10.11
    container_name: tornado_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=Pr0ducc10n35F45t2050
      - MYSQL_DATABASE=transmision_tornado
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data:
