version: '3.8'

services:
  app:
    build: .
    container_name: transmisionesfast-tornado
    ports:
      - "8888:8888"
    environment:
      # Credenciales para tu base de datos remota
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - COOKIE_SECRET=${COOKIE_SECRET}
    volumes:
      # Si necesitas persistir logs u otros archivos en tu volumen extra
      - /mnt/tornado/logs:/app/logs
    restart: always
